Flask
gunicorn
quart
python-dotenv
beautifulsoup4
extract-msg
itsdangerous
werkzeug
email-validator
aiohttp
hypercorn
uvicorn
numpy
scikit-learn
pandas
plotly
xgboost
tqdm
nltk
joblib
scipy
requests
aiosqlite
bs4
plotly-express
email-validator
python-multipart
