quart
gunicorn==20.1.0
uvicorn[standard]
python-dotenv
beautifulsoup4
extract-msg
itsdangerous
werkzeug
email-validator
aiohttp
numpy
xgboost==1.5.2
scikit-learn==1.6.1
pandas
plotly
tqdm
nltk
joblib
scipy
requests
aiosqlite
bs4
plotly-express
email-validator
python-multipart
hypercorn
